.contacts {
  background-color: white;
  text-align: center;
}

.contacts__intro {
  text-align: center;
  margin: 39px 0 27px;
}

.contacts__text {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__title {
  font-size: 18px;
}

.contacts__describe {
  color: @pink-color;
  font-size: 24px;
  font-weight: 300;
  display: block;
  margin: 0;
}

.contacts__describe--link {
  &:hover {
    color: @dark-grey-color;
    text-decoration: underline;
  }

  &:active {
    color: @black-color-opacity;
  }
}

@media (min-width: @tablet-display) {
  .contacts__intro {
    margin-bottom: 37px;
  }

  .contacts__text {
    font-size: 40px;
  }

  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0;
  }

  .contacts__item {
    width: 290px;
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-display) {
  .contacts__intro {
    margin-bottom: 48px;
    margin-top: 57px;
  }

  .contacts__text {
    font-size: 50px;
  }

  .contacts__describe {
    margin-top: 21px;
  }

  .contacts__item {
    margin-bottom: 0;
  }

  .contacts__item--write {
    order: 3;
  }

  .contacts__item--guest {
    order: 2;
  }
}
