.effects__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 0;
}

.effects__item {
  margin: 0 20px;
  cursor: pointer;

  svg {
    fill: @effects-color;
  }
}

.effects__item--active {
  svg {
    fill: @pink-color;
  }
}
