.main-nav__toggle {
  float: right;
  width: 50px;
  height: 24px;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
    border: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.main-nav__toggle--close {
  background: url("../../img/icon-menu-cross.svg") no-repeat;
}

.main-nav__toggle--gamburger {
  background: url("../../img/icon-menu-burger.svg") no-repeat;
}

.main-nav__list {
  text-align: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: @tablet-display) {
  .main-nav__toggle {
    margin-top: 8px;
  }
}

@media (min-width: @desktop-display) {
  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: block;
    padding-right: 10px;
  }
}
