.main-nav__toggle {
  float: right;
  width: 24px;
  height: 24px;

  &:hover {
    cursor: pointer;
  }
}

.main-nav__toggle--close {
  background: url("../../img/icon-menu-cross.svg") no-repeat;
}

.main-nav__toggle--gamburger {
  background: url("../../img/icon-menu-burger.svg") no-repeat;
}

.main-nav__list {
  text-align: center;
}

@media (min-width: @desktop-display) {
  .main-nav__list {
    display: flex;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: block;
  }
}
