.offer {
  background-color: @light-grey-color;
  text-align: center;
}

.offer__intro {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 10px;
}

.offer__text {
  font-size: 24px;
  padding-bottom: 21px;
  font-weight: 300;
}

.offer__background-triangle {
  position: relative;
  right: 1px;
}

.offer__list {
  margin: 48px 0 42px;
}

.offer__item {
  margin-bottom: 32px;
}

.offer__title {
  font-size: 18px;
  margin-bottom: 14px;
}

.offer__describtion {
  font-size: 14px;
  line-height: 23px;

}