.page-footer {
  background-color: white;
  text-align: center;
  padding: 38px 0;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__develope {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-top: 4px;
}

@media (min-width: @tablet-display) {
  .page-footer__wrapp {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__develope {
    padding-top: 10px;
  }
}

@media (min-width: @desktop-display) {
  .page-footer {
    padding: 92px 0;
  }
}
