.page-footer {
  background-color: white;
  text-align: center;
  padding: 38px 0;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__develop {
  display: flex;
  justify-content: center;
  font-size: 14px;
  padding-top: 4px;
}

.page-footer-index {
  display: none;
}

.page-footer__image--desktop {
  display: none;
}

.page-footer__icon {
  position: absolute;
}

.page-footer__icon--twitter {
  top: 14px;
  left: 15px;
}

.page-footer__icon--facebook {
  top: 12px;
  left: 19px;
}

.page-footer__icon--youtube {
  top: 15px;
  left: 18px;
}

.page-footer__image {
  &:hover {
    fill: @pink-color;
  }

  &:active {
    fill: @black-color-opacity;
  }
}

@media (min-width: @tablet-display) {
  .page-footer__wrapp {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__develop {
    padding-top: 10px;
  }

  .page-footer-index {
    display: block;
  }
}

@media (min-width: @desktop-display) {
  .page-footer {
    padding: 92px 0;
  }

  .page-footer__image--mobile {
    display: none;
  }

  .page-footer__image--desktop {
    display: block;
  }
}
