.photoes {
  background-color: white;
}

.photoes__intro {
  text-align: center;
  font-size: 14px;
  line-height: 31px;
  margin: 43px 0 49px;
}

.photoes__info {
  background-color: @light-grey-color;
}

.photoes__wrapper {
  padding: 18px 0 21px 18px;
  margin-bottom: 24px;
}

.photoes__picture {
  text-align: center;
  height: 180px;
}

.photoes__picture--panaram-of-the-day {
  height: 137px;
  position: relative;
}

.photoes__overlay {
  position: absolute;
  right: 20px;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  background-color: @pink-color;
  color: white;
  padding: 9px 19px;
}

.photoes__name {
  font-size: 14px;
}

.photoes__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.photoes__describtion {
  font-size: 14px;
  line-height: 25px;
}

.photoes__like {
  padding-top: 8px;
}
