.photoes {
  background-color: white;
}

.photoes__intro {
  text-align: center;
  font-size: 14px;
  line-height: 31px;
  margin: 43px 0 49px;
}

.photoes__info {
  background-color: @light-grey-color;
}

.photoes__wrapper {
  padding: 18px 0 21px 18px;
  margin-bottom: 24px;
}

.photoes__picture {
  text-align: center;
}

.photoes__image--tablet,
.photoes__image--desktop {
  display: none;
}

.photoes__overlay {
  position: absolute;
  right: 20px;
  top: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  background-color: @pink-color;
  color: white;
  padding: 9px 19px;
}

.photoes__name {
  font-size: 14px;
}

.photoes__time {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
}

.photoes__describtion {
  font-size: 14px;
  line-height: 25px;
}

.photoes__like {
  padding-top: 8px;
}

.photoes__outro {
  font-size: 14px;
  text-align: center;
  margin: 42px 0;
  line-height: 30px;
}

.photoes__picture + .wrapper {
  margin-top: -5px;
}

.photoes__item--panaram-of-the-day {
  .photoes__info {
    margin: -5px 20px 0;
  }

  .photoes__image {
    width: 100%;
  }

  .photoes__picture {
    position: relative;
    height: auto;
  }
}

.photoes__container--overlay {
  position: relative;
}

@media (min-width: @tablet-display) {
  .photoes__image--mobile {
    display: none;
  }

  .photoes__image--tablet {
    display: inline-block;
  }

  .photoes__intro {
    font-size: 18px;
    margin: 91px 0 76px;
    padding: 0 90px;
  }

  .photoes__wrapper {
    padding: 31px 28px 23px 28px;
    margin-bottom: 40px;
  }

  .photoes__item--panaram-of-the-day {
    width: 100%;

    .photoes__wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .photoes__describtion {
      order: 3;
    }

    .photoes__like {
      order: 2;
      padding: 0;
    }

    .photoes__info {
      margin: -5px 20px 0;
    }
  }

  .photoes__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .photoes__item:not(.photoes__item--panaram-of-the-day) {
    padding: 0 10px;

    .photoes__info {
      width: 300px;
      margin: 0 auto;
    }
  }

  .photoes__picture + .wrapper {
    padding: 0;
  }

  .photoes__describtion {
    height: 50px;
  }

  .photoes__outro {
    font-size: 18px;
    margin: 20px 0 67px;
  }

  .photoes__overlay {
    top: 60px;
  }
}

@media (min-width: @desktop-display) {
  .photoes__image--tablet {
    display: none;
  }

  .photoes__image--desktop {
    display: inline-block;
  }

  .photoes__item--panaram-of-the-day {
    .photoes__info {
      margin: -5px 10px 0;
    }
  }

  .photoes__overlay {
    top: 70px;
  }
}
