.posting {
  background-color: @light-grey-color;
}

.posting__filter {
  text-align: center;
  padding-top: 20px;

  label {
    background: url("/img/photo-road-mobile@1x.jpg") no-repeat center;
    display: block;
    height: 374px;
  }
}

.posting__range {
  margin: 10px auto 35px;
  display: block;
  border-bottom: 1px solid @input-range-color;
  appearance: none;
  border-radius: 2px;
  width: 250px;
  height: 2px;
  outline: none;
  background-color: @dark-blue-color;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 13px;
    height: 13px;
    background: white;
    border-radius: 100%;
    border: 2px solid @pink-color;
    cursor: pointer;
  }
}

.posting__buttons {
  border-top: 1px solid @input-range-color;
  padding: 40px 20px 30px;
  text-align: center;
}

.posting__button {
  margin-bottom: 14px;
}

.posting__button--submit {
  color: @pink-color;

  &:hover {
    background-color: @pink-color;
    color: white;
  }

  &:active {
    background-color: @pink-color;
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    border: 2px solid @pink-color;
  }
}

.posting__button--cancel {
  color: @input-range-color;

  &:hover {
    border-color: @effects-color;
    color: @effects-color;
  }

  &:active {
    background-color: @effects-color;
    color: rgba(255, 255, 255, 0.4);
  }

  &:focus {
    border: 2px solid @input-range-color;
  }
}

.posting__range--tablet {
  display: none;
}

@media (min-width: @tablet-display) {
  .posting__filter {
    padding-top: 0;

    label {
      background: url("/img/photo-road-tablet@1x.jpg") no-repeat center;
      height: 400px;
    }
  }

  .posting__range--mobile {
    display: none;
  }

  .posting__range--tablet {
    display: block;
    margin: 23px auto 23px;
    width: 200px;
  }

  .posting__buttons {
    border-top: none;
    padding: 57px 20px 0;
  }

  .posting__button {
    margin: 17px 11px 8px;
    width: 260px;
  Ъ
}

@media (min-width: @desktop-display) {
  .posting {
    width: 940px;
  }

  .posting__range {
    width: 290px;
  }

  .posting__buttons {
    padding: 131px 17px 0 0;
    display: flex;
  }

  .posting__button {
    width: 180px;
    margin: 17px 47px 8px 0;
  }
}
